  <h1> <%= @player1 %> Vs <%= @player2 %> </h1>
<h3> <%= @player2 %>'s HP: <%= @player2hp %> </h3>
<label for="min_hp">0</label>
  <progress value = <%= @player2hp %> max= <%= @maxhp %>> </progress>
<label for="max_hp">100</label>

<form method="post" action="/runAttackP2">
<div>
  <input type="submit" value="Attack <%= @player2 %>" >
</div>
</form>

<h3> <%= $confirmation %> </h3>
